.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__text {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

}

.header__button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 544px) {
  .header {
    min-height: 85px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}
